<nav>
    <div class="nav-wrapper topnav">
        <a href="/" class="brand-logo center">Fit To Scrape</a>
        <ul class="right" id="nav-mobile">
            <li><a href="/scrape">Scrape some news</a></li>
            <li><a href="" target="_blank"></a></li>
        </ul>
    </div>
</nav>